*{
  box-sizing: border-box;
}
body{
  background-color: rgb(224, 222, 222);
}
.grid-container{
    display:grid;
    margin:20px;
    grid-template-columns: auto auto auto;
    padding:10px;
  }
  .grid-item{
    background-color:transparent;
    border:1px solid rgba(0, 0, 0, 0.7);
    padding:10px;
    margin: 10px;
    font-size:30px;
    width: 300px;
    border-radius: 20px;
    text-align:center;
  }
  .controls{
    display: flex;
    
  }
  button{
    border-radius: 5px;
    margin-left: 10px;
  }
  input{
    border-radius: 10px;
    margin-left: 10px;
  }